.todoItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0rem;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: var(--color-accent);
}
.text {
  flex: 1;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: var(--color-text);
}
.button {
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-text);
  transition: all 0.3s ease-out;
}
.button:hover {
  color: var(--color-accent);
}
