@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Oswald:wght@200..700&display=swap");

:root {
  --color-bg-dark: #f5f5f5;
  --color-bg: #fdfffd;
  --color-grey: #d1d1d1;
  --color-text: #283b22;
  --color-accent: #775fff;
  --color-white: white;
}

html.dark {
  /* --color-bg-dark: #171833; */
  /* --color-bg-dark: #15151a; */
  --color-bg-dark: #19191c;

  /* --color-bg: #1f304b; */
  --color-bg: #282828;
  --color-grey: #d1d1d1;
  --color-text: #fdfffd;
  --color-accent: #775fff;
  --color-white: white;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#root {
  display: flex;
  overflow: hidden;
  border-radius: 1.5rem;
  flex-direction: column;
  background-color: var(--color-bg-dark);
  width: 100%;
  max-width: 500px;
  height: 60%;
}

* {
  box-sizing: border-box;
}

button:hover {
  filter: brightness(110%);
}

::-webkit-scrollbar {
  width: 0.5rem;
}
/* 
::-webkit-scrollbar-track {
  background-color: var(--color-bg-dark);
} */
::-webkit-scrollbar-thumb {
  background-color: var(--color-grey);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}
