@import "./reset.css";

:root {
  --color-bg-dark: #f5f5f5;
  --color-bg: #fdfffd;
  --color-grey: #d1d1d1;
  --color-text: #283b22;
  --color-accent: #775fff;
  --color-white: white;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#root {
  display: flex;
  overflow: hidden;
  border-radius: 1.5rem;
  flex-direction: column;
  background-color: var(--color-bg-dark);
  width: 100%;
  max-width: 500px;
  height: 60%;
}

* {
  box-sizing: border-box;
}
